# فایل‌های حساس
db.sqlite3
secrets.json
*.sqlite3
.env

# کش پایتون
__pycache__/
*.pyc

# فایل‌های محیط مجازی
venv/
env/

# فایل‌های سیستم عامل
.DS_Store
Thumbs.db

# پوشه رسانه (فایل‌های آپلود شده کاربران)
/media/